<!DOCTYPE html>
<html xmls="http://www.w3.org/1999/xhtml">
    <head>
        <title>RoomsInfo</title>
        
    </head>
    <body>
        
            {{room.name}}
            <h2>Conversations</h2>
            {% for message in messages %}
                <p>{{message.body}}</p>
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                <a href="{% url 'update-message' message.id %}">Update</a>
            {% endfor %}
            
            <form action="" method="POST">
                    {% csrf_token %}
                <input type="text" placeholder="your message goes here" name="body">   
            </form>
            
    </body>
</html> 